body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html{
  height: 100%;
  margin: 0;
}

.navbar {
  overflow: hidden;
  background-color: rgb(204, 203, 203);
  position: fixed;
  top: 0;
  width: 100%;
  height: 45px;
  z-index: 1;
}

.navbar a {
  float: right;
  display: block;
  color: #f51414;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: rgb(240, 10, 10);
  color: rgb(27, 58, 145);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float: right;
  margin: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  padding-top: 5px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(148, 79, 79);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.sun {
  position: absolute;
  right: 3px;
  top: 3px;
  z-index: 1;
}

.moon {
  position: absolute;
  opacity: 0;
}

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body {
  height: calc(100vh - 8em);
  color: rgb(17, 224, 214);
  font-family: "Anonymous Pro", monospace;
}

.line-1 {
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.anim-typewriter {
  animation: typewriter 4.5s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;

}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 21em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(0, 0, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

/* .bgimg1{
  background-image: url("/Resources/dp2.jpg");
  min-height: 100%;
} */

/* #background1{
  background-image: url(/Resources/dp2);
  background-color: #f51414;
}

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url(/Resources/dp2.jpg);
  min-height: 100%;
}

.bgimg-2 {
  background-image: url(/Resources/dp.jpg);
  min-height: 400px;
}

.bgimg-3 {
  background-image: url(/Resources/dp2.jpg);
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
/* @media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll; */
  /* }
} */ 

.background-1{

  background-image: url(/Resources/dp2.jpg);
  margin-top: 45px;
  height: 118%;

  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutDP{
  background-image: url(/Resources/dp.jpg);
  background-size: 550px 550px;
  background-repeat: no-repeat;
  background-position: left center;
  margin-left: 45px;
  margin-top: 45px;
  height: 118%;

  position: relative;
  opacity: 0.65;
}

.aboutHeading{
  text-align: center;
}

.about {
  font-size: 30px;
  width: 550px;
  text-align: justify;
}